@using Chirp.Core
@using Chirp.Core.DTO
@inject IAuthorService service
@inject ICheepService CheepService

@{
    var targetPage = ViewBag.TargetPage as string ?? "";
    IEnumerable<CheepDTO> cheeps = ViewBag.Cheeps;
    List<AuthorDTO> Follows = [];
    if (User.Identity!.IsAuthenticated)
    {
        Follows = service.GetFollows(User.Identity!.Name!);
    }
}

@await Component.InvokeAsync("SideVideo", new {isLeft = true})
@await Component.InvokeAsync("SideVideo", new {isLeft = false})

<ul id="messagelist" class="cheeps">
    @foreach (var cheep in cheeps)
    {
        <li style="word-wrap: break-word;">
            <p>
                <strong>
                    <a href="/@cheep.Author">@cheep.Author</a>
                    @if (User.Identity!.IsAuthenticated && User.Identity!.Name != cheep.Author)
                    {
                        @if (Follows.Any(a => a.Name == cheep.Author))
                        {
                            <button onclick="toggleFollow(this, '@cheep.Author', false)">unfollow</button>
                        }
                        else
                        {
                            <button onclick="toggleFollow(this, '@cheep.Author', true)">follow</button>
                        }
                    }
                </strong>
            </p>
            <p>@cheep.Message</p>
            <div style="display: flex; align-items: center;">
                <small>&mdash; @DateTimeOffset.FromUnixTimeSeconds(cheep.UnixTimestamp).DateTime.ToString("dd/MM/yy H:mm:ss")</small>
                <a href="#" onclick="goToSpecificCheep(@cheep.Id)">
                    <img src="images/comment.png" alt="Comment Icon"
                         style="width: 18px; height: 18px; margin-left: 15px; vertical-align: middle"/>
                </a>
                <small style="margin-left: -5px">@CheepService.GetCommentAmountOnCheep(cheep.Id)</small>
            </div>
        </li>
    }
</ul>

<script type="text/javascript">
    function showPopup() {
        document.getElementById('popup').style.display = 'flex';
    }

    function cancelPopup() {
        document.getElementById('popup').style.display = 'none';
    }

    function goToSpecificCheep(cheepId) {
        window.location.href = `/SpecificCheep?cheepId=${cheepId}`;
    }

</script>