@using Chirp.Core
@using Chirp.Core.DTO
@inject IAuthorService service
@{
    var targetPage = ViewBag.TargetPage as string ?? "";
    IEnumerable<CheepDTO> cheeps = ViewBag.Cheeps;
    List<AuthorDTO> Follows = [];
    if (User.Identity!.IsAuthenticated)
    {
        Follows = service.GetFollows(User.Identity!.Name!);
    }

    var videoListLeft = ViewBag.videoListLeft;
    var videoListRight = ViewBag.videoListRight;
}

<div class="container">
    <div id="videoLeftContainer" class="video-container">
        <video id="leftVideo" autoplay muted disablePictureInPicture>
            <source src="@videoListLeft[0]" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <ul id="messagelist" class="cheeps">
        @foreach (var cheep in cheeps)
        {
            <li style="word-wrap: break-word;">
                <p>
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                        @if (User.Identity!.IsAuthenticated && User.Identity!.Name != cheep.Author)
                        {
                            @if (Follows.Any(a => a.Name == cheep.Author))
                            {
                                <button onclick="toggleFollow(this, '@cheep.Author', false)">unfollow</button>
                            }
                            else
                            {
                                <button onclick="toggleFollow(this, '@cheep.Author', true)">follow</button>
                            }
                        }
                    </strong>
                </p>
                <p>@cheep.Message</p>
                <small>&mdash; @DateTimeOffset.FromUnixTimeSeconds(cheep.UnixTimestamp).DateTime.ToString("dd/MM/yy H:mm:ss")</small>
            </li>
        }
    </ul>

    <div id="videoRightContainer" class="video-container">
        <video id="rightVideo" autoplay muted disablePictureInPicture>
            <source src="@videoListRight[0]" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<script type="module">
    import VideoController from '/js/videoController.js';

    const videoListLeft = @Html.Raw(Json.Serialize(videoListLeft));
    const videoListRight = @Html.Raw(Json.Serialize(videoListRight));

    const leftVideoElement = document.getElementById('leftVideo');
    const rightVideoElement = document.getElementById('rightVideo')
    
    new VideoController(leftVideoElement, videoListLeft);
    new VideoController(rightVideoElement, videoListRight);
</script>