@using Chirp.Core
@using Chirp.Core.DTO
@inject IAuthorService service
@{
    var targetPage = ViewBag.TargetPage as string ?? "";
    IEnumerable<CheepDTO> cheeps = ViewBag.Cheeps;
    List<AuthorDTO> Follows = [];
    if (User.Identity!.IsAuthenticated)
    {
        Follows = service.GetFollows(User.Identity!.Name!);
    }
}

<ul id="messagelist" class="cheeps">
    @foreach (var cheep in cheeps)
    {
        <li>
            <p>
                <strong>
                    <a href="/@cheep.Author">@cheep.Author</a>
                    @if (User.Identity!.IsAuthenticated && User.Identity!.Name != cheep.Author)
                    {    
                        if (Follows.Any(a => a.Name == cheep.Author))
                        {
                            <button class="follow-btn" data-author="@cheep.Author" onclick="toggleFollow(this, '@cheep.Author', false)">unfollow</button>
                        }
                        else
                        {
                            <button class="follow-btn" data-author="@cheep.Author" onclick="toggleFollow(this, '@cheep.Author', true)">follow</button>
                        }
                    }
                </strong>
                @cheep.Message
                <small>&mdash; @DateTimeOffset.FromUnixTimeSeconds(cheep.UnixTimestamp).DateTime.ToString("dd/MM/yy H:mm:ss")</small>
            </p>
        </li>
    }
</ul>